<!-- Footer -->
<footer class="page-footer font-small pt-4 mt-0">
    <!-- adding the logo image -->
    <img id="footer-img" src="../assets/images/computer.png" alt="PC">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"><h2>ASE 2020 @ AAU-Klagenfurt</h2><p>This is a demo for the final project for ASE (Advanced Software Engineering). Steambuddy is a simple games recommender.<br>Authors: Jochum Peter, Lila Keti, Marktl Daniel, Starzacher Philipp, Zenzmaier Florian</p></div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
