<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to Steambuddy</h1>
      <p class="lead">Steambuddy is a simple games recommender created by students of the AAU Klagenfurt to apply
        software development techniques. It is by no means associated with Steam.</p>
      <hr class="my-4">
      <p>The project consists two applications communication via a REST-API to enable users to list, like and share game
        recommendations.</p>
      <p class="lead">
        <a class="btn btn-danger btn-lg" routerLink="/games" role="button">Open the List of games</a>
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="text-center">
      <img src="/assets/images/logo3.png" alt="Image of a game controller" width="80%">
    </div>
  </div>
</div>
