
<!-- Show a warning if no input data has been supplied -->
<div *ngIf="!game" class="alert alert-danger">No game supplied</div>

<!-- Display the game if the input is present -->
<div id="infogame" *ngIf="game" class="row no-gutters" style="border:none; ">
  <h2>{{game.name}} </h2>
  <div class="clearfix">
    <img src="{{game.image}}" alt="{{game.name}} title image" class="float-left">
    <div class="info">
    <p><strong>Game Title: </strong> {{game.name}} </p>
    <p><strong>Release year: </strong>{{game.year}} </p>
    <p><strong>Game description : </strong>{{game.text}}</p>
    </div>
  </div>
</div>
