<div class="main-container">
  <div class="form-container">
  <!-- adding logo -->
  <img class="logo" src="../assets/images/home-logo.png" alt="shuffle symbol">
  <h1 class="app-title">Steambuddy</h1>
  <h3 class="info">A social platform for <br>finding interesting games</h3>
  <!-- adding buttons-->
  <section class="buttons">
    <!--adding login button-->
    <div class="col-xs-6">
       <a routerLinkActive="active"
          routerLink="/register"
          *ngIf="!authInfo?.isLoggedIn()"
      ><button class="btn btn-danger">Log in</button></a>
    </div>
    <!-- adding signup button-->
    <div class="col-xs-6">
       <a routerLinkActive="active"
          routerLink="/login"
          *ngIf="!authInfo?.isLoggedIn()"
      ><button class="btn btn-danger">Sign up</button></a>
    </div>
  </section>
  </div>
</div>
